body {
    font-family: Calibri;
}

form {
    border-radius: 10px;
}

.todo {
    padding: 10px;
    border: solid 1px #EEEEEE;
    border-radius: 3px;
}

.todo_done {
    text-decoration: line-through;
    color: darkred;
}

.work {
    border-left: solid 4px saddlebrown;
}

.fun {
    border-left: solid 4px darkgreen;
}

.school {
    border-left: solid 4px darkblue;
}

.family {
    border-left: solid 4px darkorange;
}