html {
    background: none;
}
body {
    font-family: "Calibri";
    padding: 10px;
    overflow: hidden;
    background: inherit;
}

a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
    text-decoration: none;
}

h2 {
    font-family: "Calibri";
    font-size: 30px;
    color: #006699;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-family: "Calibri";
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    font-family: 'Calibri';
}

pre {
    font-family: "Courier New";
}

code {
    font-family: "Courier New";
    font-weight: bold;
}

dt {
    font-family: "Calibri";
    color: #000000;
    padding-top: 20px;
}

dt strong {
    color: #000000;
    font-size: 16px;
}

dt span {
    font-family: "Calibri";
    color: #646464;
}

dt span a {
    display: inline-block;
    padding: 5px 5px 0px 5px;
    background-color: lightblue;
}

dt span {
    font-size: 15px;
}

dd {
    margin: 0px 0px 40px 0px;
    color: #646464;
    font-family: "Calibri";
}

dd ul {
    list-style-type: none;
    margin: 0px 0px 0px 20px;
}

dd ul li {
    margin: 10px 0px 0px 0px;
}

dd ul li code {
    font-weight: bold;
    color: black;
}

#suggestion {
    font-size: 13px;
}